:root {
    /* --Background-color: #efefef; */
    --font-color: whitesmoke;
    --Background-color: #0c156b;
    --body-width: 90vw;
    --Content-width: 70%;
    --righCol-width: calc(100% - var(--Content-width) );
}

.body {
    padding-top: 5rem;
    width: var(--body-width);
    margin: auto;
    font-size: 1.6rem;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

/* Body Head */

.body > .LiPostHead {
    background-color: var(--Background-color);
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    height: max-content;
}

.body > .LiPostHead > span {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--font-color);
}

/* Body Content */
.body > .bodyContent {
    display: flex;
    width: var(--body-width);
    padding-top: 1rem;
}

.body > .bodyContent > .Content {
    display: flex;
    width: calc( var(--Content-width) - 1%);
    padding-right: 1rem;
    /* margin: auto; */

    font-size: 1.6rem;
    font-family: Calibri, sans-serif;
    flex-wrap: wrap;
    column-gap: 1.2rem;
}

.body > .bodyContent > .Content > .Posts {
    width: 200px;
    border: none;
    /* min-height: 25rem; */
    height: 25rem;
    margin-top: 10px;
    padding: 1rem 1rem;
}

.Posts > div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    margin: auto;
}

.Posts > div > .head {
    padding: 1rem 1rem;
}

.Posts > div > .head p {
    font-size: 1.2rem;
}

.Posts > div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

/* List Page */
.OrderPage {
    width: var(--body-width);
    margin: 20px auto;
}

.OrderPage > div {
    width: var(--Content-width);
    position: relative;
}

.OrderPage > div > .ListOrderPage {
    display: flex;
    position: absolute;
    right: 0;
}

.OrderPage > div > .ListOrderPage > button {
    width: 30px;
    height: 30px;
}


/* News */
.body > .bodyContent > .rightCol {
    width: var(--righCol-width);
    display: flex;
    flex-direction: column;
}

.body > .bodyContent > .rightCol > .News, .SubT {
    width: 100%;
    height: fit-content;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    max-height: 64rem;
}
.body > .bodyContent > .rightCol > .News > h3 {
    background-color: var(--Background-color);
}

.body > .bodyContent > .rightCol > .SubT > h3 {
    background-color: var(--Background-color);
}

.News > .NewBlog {
    padding: 1.2rem 0rem 1.2rem 0rem;
}

.SubT > .SubTopic {
    padding: 1.2rem 0rem 1.2rem 0rem;
}

.News > .NewBlog > .BlogElement, .SubTopicElement {
    width: 90%;
    margin: auto;
    background-color: var(--font-color);
    padding: 1rem 2% 1rem 2%;
    text-align: justify;
    cursor: pointer;
}

.News > .NewBlog > .BlogElement:hover {
    transition: 0.2s;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.SubT > .SubTopic > .SubTopicElement:hover {
    transition: 0.2s;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 980px) {
    .body > .bodyContent > .rightCol > .News, .SubT {
        max-height: 68rem;
    }
}

@media screen and (max-width: 760px) {
    .body {
        width: 100vw;
        /* position: relative; */
    }

    .body > .bodyContent {
        flex-direction: column;
        width: 100%;
    }
    .body > .bodyContent > .Content {
        margin: auto;
    }

    .body > .bodyContent > .Content > .Posts {
        width: 100%;
        margin-top: 4rem;
    }

    .body > .bodyContent > .rightCol {
        width: 100%;
    }
    .body > .bodyContent > .rightCol > .News, .SubT {
        width: 100%;
        /* border: none; */
    }
    
    .OrderPage {
        position: absolute;
        top: 0;
        margin-top: 26rem;
        width: 100%;
    }
    
    .body > .bodyContent > .rightCol > .News, .SubT {
        margin-top: 4rem;
    }
}