.body {
    /* background-color: white; */
    padding-top: 5rem;
    width: 90vw;
    margin: auto;
    font-size: 1.6rem;
    font-family: Calibri, sans-serif;
    
}

.body ol {
    padding-left: 5rem;
}












