.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(16, 4, 248, 0.308), rgba(16, 4, 248, 0.308)), 
                      url('/public/img/background/Bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.body > h1 {
    padding-top: 12rem;
    padding-left: 8rem;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 6rem;
}
.body > p {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 6rem;
    padding-left: 24rem;
}
.body > p > span {
    font-weight: 900;
    font-style: italic;
}


@media screen and (max-width: 760px) {
    .body {display: none;}
}

